<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acorn.testanything">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--截取短信验证码用-->
    <uses-permission android:name="android.permission.READ_SMS"/>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:name=".MyApplication"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity"/>
        <activity android:name=".testNested.NestedActivity"/>
        <activity android:name=".testAnimator.TestAnimatorActivity"/>
        <activity android:name=".testNested.NestedActivity2"/>
        <activity android:name=".testNested.NestedActivity3"/>
        <activity android:name=".testNested.NestedActivity4"/>
        <activity android:name=".RegEx.RegExActivity"/>
        <activity android:name=".anything.AnythingActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".rxjava.RxJavaActivity"/>
        <activity android:name=".motionLayout.MotionLayoutActivity"/>
        <activity android:name=".constraintLayout.ConstraintRatioActivity"/>
        <activity android:name=".constraintLayout.ConstraintChainsActivity"/>
        <activity android:name=".constraintLayout.ConstraintPlaceHolderActivity"/>
        <activity android:name=".memory.TestMemoryLeakActivity"/>
        <activity android:name=".testWithOutput.TestWithOutputActivity"/>
        <activity android:name=".broadcast.RegisterBroadcastActivity"/>
        <activity android:name=".mvvm.MVVMActivity"/>
        <activity android:name=".countdown.TestCountDownActivity"/>

        <service
                android:name=".countdown.CountDownTimerService"
                android:enabled="true"
                android:exported="false" />

        <service
                android:name=".countdown.CountService"
                android:enabled="true"
                android:exported="false" />

        <service
                android:name=".broadcast.MyService"
                android:process=":test">
            <!--priority只在activity 和 receivers有用，这样写没意义!-->
            <!--<intent-filter android:priority="1000">
                <action android:name="MyService" />
            </intent-filter>-->
        </service>

        <!--Android 8.0的应用无法继续在其AndroidManifest中为隐式广播注册广播接收器-->
        <receiver android:name=".broadcast.MyBroadcastReceiver">
            <intent-filter>
                <!--屏幕开启广播(隐式广播)-->
                <action android:name="android.intent.action.SCREEN_ON"/>
                <!--usb插入拔出(隐式广播)-->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <!--自定义广播(显式广播)-->
                <action android:name="com.acorn.testanything.MY_BROADCAST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>